* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-size: 14px;
   font-family: 'Roboto', sans-serif;
}

header {
   height: 70px;
   background-color: tomato;
   padding: 20px;
   display: flex;
   align-items: center;
   color: white;
}

header i {
   margin-right: 10px;
   font-size: 40px;
}
.email-list {
   list-style-type: none;
}

.email-list li {
   padding: 20px;
   font-size: 20px;
   font-weight: bold;
   border-bottom: 1px solid tomato;
}
